.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Login_page {
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.Login_field {
  display: block;
  justify-content: center;
  text-align: center;
}

.Logout_btn {
  padding: 10px;
  border-radius: 20px;
  width: auto;
  width: 100px;
  text-align: center;
  background: black;
  color: white;
}

.Error_msg {
  color: red;
  margin: 1px;
}

h1 {
  align-items: center;
  text-align: center;
}


.solidTable {
  background-color: #f2f2f2;
}

.solidTableHeader {
  background-color: #e0e0e0;
}